* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
    font-family: 'Open Sans', sans-serif;
    /* width: 98vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.periodesystemet {
    display: grid;
    grid-template-columns: repeat(19, 3rem);
    grid-template-rows: repeat(8, 4rem);
    grid-gap: 4px;
    margin: 2rem 0rem;
}

.periode {
    background-color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.number {
    display: block;
    font-size: .75rem;
    margin-top: .3rem;
}

.extern-row {
    background-color: #272727;
    color: white;
    padding-left: 8px;
    font-size: 1rem;
    text-align: left;
}

.col-row-number {
    height: 30px;
    color: white;
    background-color: #272727;
    font-weight: 600;
}

.periode-extern-row {
    display: grid;
    grid-template-columns: repeat(16, 3rem);
    grid-template-rows: repeat(2, 4rem);
    grid-gap: 4px;
    margin-bottom: 6rem;

}

.whitespace-w1 {
    grid-column: span 16;
    opacity: 0;
}

.whitespace-w2 {
    grid-column: span 10;
    opacity: 0;
}