@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    background: #232323;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(255, 136, 0);
    text-decoration: underline dotted;
}

a:hover {
    color: whitesmoke;
    background-color: rgb(255, 136, 0);
    text-decoration: underline;
    transition: ease-out;
    transition-duration: .3s;
}

figure {
    margin: 0;
}

figcaption {
    color: #808080;
    margin: 0;
    font-size: 0.9rem;
}

.content {
    min-width: 500px;
    max-width: 35vw;
}