* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0rem;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    padding: 4rem 2rem;
    width: 100%;
}

nav ul li a:hover {
    background-color: whitesmoke;
}

main {
    display: flex;
    padding: 5rem 0rem;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3 {
    padding: 1rem 0rem;
}

p {
    padding: .5rem 0rem;
}

img {
    width: 100%;
}

figcaption {
    font-size: .75rem;
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(33, 160, 33);
    text-decoration: underline;
    transition: ease-out;
    transition-duration: .3s;
}

li {
    line-height: 2rem;
    list-style-position: inside;
}

article {
    cursor: pointer;
    width: 40vw;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    background-color: whitesmoke;
}

footer ul {
    list-style: none;
}

.logo {
    font-size: 1.2rem;
}