* {
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    color: #1e1e1e;
    line-height: 1.6rem;
    font-weight: 100;
}

.logo {
    width: 300px;
    height: auto;
}

body {
    background-color: #F4F2E6;
}

header {
    background-color: white;
}

nav.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: .75rem auto auto auto;
    padding-top: 2rem;
    width: 96vw;

}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 4rem;
    background-color: #F4F2E6;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
}

nav ul li:hover {
    background-color: bisque;
    transition-duration: 700ms;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;

}

main {
    background-color: white;
}

figcaption span,
figcaption a,
.inline-link {
    font-style: italic;
    color: #5c5c5c;
    font-size: 1rem;
}

figure {
    margin: 0 1rem;
}

figure img {
    margin: 0;
}

section {
    padding: 1rem 0;
    border-radius: 10px;
    width: 96%;
    margin: 0rem auto;
    padding-bottom: 1.5rem;
}

section#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 1rem;
}

iframe {
    width: 100%;
    height: 25rem;
    border: none;
}

ul.p-list li {
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -1rem;
    margin-top: 1.5rem;
}

input,
button {
    margin-bottom: 1rem;
    width: 10rem;
    border-radius: 10px;
    padding: .25rem;
}

h1,
h2,
h3,
p {
    margin: 1.5rem 1rem;
}

h1,
h2,
h3 {
    font-weight: 600;
}

.main-heading {
    font-size: 2rem;
    line-height: 2.5rem;
}

a.inline-link:hover {
    text-decoration: dashed;
    background-color: antiquewhite;
    transition: .4s;
}

.title-heading {
    margin: 0.2rem 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.author-heading {
    margin: 0.2rem 1rem;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
}

img {
    margin: 0 1rem;
    width: 100%;
}

footer {
    background-color: #CFEBF3;
    padding-top: 1rem;
    width: 100%;
    padding-bottom: 2rem;
}

.footer-container {
    margin: auto;
    width: 96vw;
    text-align: center;
}

footer h3 {
    margin: 1rem 0;
}

footer ul {
    list-style: none;
}

@media only screen and (min-width: 1025px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        display: grid;
        grid-template-columns: 8rem auto 8rem;
        width: 1025px;
        margin-bottom: 1rem;
    }

    .logo {
        width: 200px;
    }

    nav.header-nav {
        grid-column: 2/3;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 8rem;
        padding-top: 0;
        margin: 0;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
        width: 450px;
        height: 2rem;

    }

    nav ul li {
        width: 9rem;
        height: 4.5rem;
        background-color: #F4F2E6;
        padding: 0rem 0rem;
        margin: 0;
        border-radius: 8px;
    }

    nav ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 1.1rem;
    }

    main {
        display: grid;
        width: 1025px;
        grid-template-columns: 8rem 4fr 4fr 8rem;
        grid-template-rows: 1.3fr 1fr 1.9fr;
    }

    section {
        margin: 0;
        width: 100%;
    }

    h1,
    h2,
    h3,
    p {
        margin: 1.5rem 0;
    }

    figure {
        margin: 0;
    }

    img {
        margin: 0;
    }

    #anbefaling figure img, 
    p {
        width: 92%;
    }

    .main-heading {
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    .title-heading {
        margin: 0.2rem 0;
    }

    .author-heading {
        margin: 0.2rem 0;
    }

    ul.p-list li {
        padding-left: 1.5rem;
        text-indent: -1rem;
    }

    .form-info {
        text-align: center;
    }

    #anbefaling {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 1rem;
    }

    #anbefaling h1 {
        width: 100%;
    }

    #anbefaling article {
        width: 50%;
    }

    #home-image {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    #bib-kan-tilby {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #bib-finner-du {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #anbefaling {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    #form {
        grid-column: 2/4;
        grid-row: 1/4;
        margin: 2rem 0;
    }

    #skrivesenteret {
        grid-column: 2/4;
        grid-row: 1/4;
    }

    #omSiden {
        grid-column: 2/4;
        grid-row: 1/4;
    }

    .footer-container {
        width: 1025px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .footer-social,
    .footer-adress,
    .footer-contact {
        display: inline-block;
        width: 100px;
    }

}